apiVersion: v1
kind: Secret
metadata:
  name: secret
type: Opaque
data:
  APP_KEY: example
  DB_CONNECTION: bXlzcWw=
  DB_HOST: example
  DB_PORT: MzMwNg==
  DB_DATABASE: ZWRpdG1hc3Rlcg==
  DB_USERNAME: cm9vdA==
  DB_PASSWORD: example
  YOUTUBE_API_KEY: example
